{
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es5",
        "tabWidth": 2,

        "printWidth": 30
      }
    }
  ]
}
