<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column" class="app-container">
  <h2 class="title">My Guitar Collection !</h2>

  <div
    class="menu"
    fxLayout="row"
    fxLayoutAlign="start start"
    fxLayoutGap="40px"
  >
    <h3>
      <a routerLink="/music-gear-library" routerLinkActive="active"
        >Music Gear Library</a
      >
    </h3>

    <h3>
      <a routerLink="/cart" routerLinkActive="active">
        <div [matBadge]="cartCount" matBadgeOverlap="false">My Cart</div>
      </a>
    </h3>
  </div>
  <div fxLayout="column" class="router-container">
    <router-outlet></router-outlet>
  </div>
</div>
