<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
  </div>

  <div fxLayout="row" fxLayoutGap="10px">
    <h2>
      <a routerLink="/music-gear-library" routerLinkActive="active"
        >Music Gear Library</a
      >
    </h2>

    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/cli"
        >CLI Documentation</a
      >
    </h2>

    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/"
        >Angular blog</a
      >
    </h2>
  </div>

  <router-outlet></router-outlet>
</div>
