.app-container {
  width: 100%;
  margin: 0;
}

.router-container {
  margin-top: 50px;
}

.title {
  color: white;
}

.menu {
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  height: 50px;
  background-color: #424242;
  font-weight: bold;
}
