/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
}

a {
  color: cadetblue;
}

h1,
h2,
h3 {
  color: white;
}

.app-container {
  margin: 10px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
