/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
  color: white;
}

a {
  color: cadetblue;
}

h1,
h2,
h3 {
  color: white;
}

app-root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-container {
  margin: 10px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-list {
  margin-top: 20px;
  mat-list-item {
    margin-bottom: 50px;
  }
}
.menu {
  padding-left: 20px;
}

.small {
  width: 120px;
}

.mat-card {
  min-width: 350px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0px !important;
  .mat-card-header {
    padding-top: 10px;
  }
  .mat-card-title {
    font-size: 18px;
  }
  .mat-card-content {
    overflow: hidden;
    height: 85%;
    width: 100%;

    .overlay {
      height: 100%;
      background-color: black;
    }
    .gear {
      z-index: 0;
      height: auto;
      width: 100%;
      opacity: 1;
      clip-path: inset(50px 0px 0px 0px);
      top: -3px;
      left: 0px;
      position: absolute;
    }
    .cart {
      position: relative;
      visibility: hidden;
      margin-top: 10%;
      opacity: 0.7;
    }

    .link {
      position: relative;
      visibility: hidden;
      opacity: 0.8;
    }
  }

  .mat-card-content:hover {
    .gear {
      opacity: 0.6;
    }
    .cart {
      visibility: visible;
    }
    .link {
      visibility: visible;
    }
  }
}

.zindex-10 {
  z-index: 10;
}

a {
  text-decoration: unset;
}
